body {
    text-align: center;
    background-color: #f4cb1c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: #e85c4d;
    font-family: 'Secular One', sans-serif;
    font-size: 1.0em;
    display: inline-block;
    margin: 20px;
}

img {
    margin: 60px 0 30px 0;
    width: 250px;
}

input {
    width: 300px;
    margin: 20px 20px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: 'Secular One', sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: #e85c4d
}

input:focus {
    outline: none;
    border: solid 5px #f29d91;
}

#find {
    background-color: #e85c4d;
    border: none;
    width: 200px;
    color: #f4cb1c;
}

#find:hover {
    background-color: #f29d91;
}

h1 {
    color: #e85c4d;
    font-family: 'Secular One', sans-serif;
    display: inline-block;
    margin: 20px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Secular One', sans-serif;
    min-width: 400px;
    background-color: #e85c4d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #e85c4d;
    color: #f29d91;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #f29d91;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f29d91;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #e85c4d;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #e85c4d;
}